<h1>Welcome to bookmark manager</h1>

<ul id="links">
  <%if current_user %>
  <p>Current links:</p>
    <% @current_user.links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL:   <%= link.url   %>
      </li>
    <% end %>
  <% end %>
</ul>


