<div id="new-link">
  <form action="/links" method="post">
    Title:<input type="text" name="title" id="" />
    Url:<input type="text" name="url" id="" />
    Tags:<input type="text" name="tags" id="" />
    <input type="submit" value="Create link" />
  </form>
</div>
